[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
django-graphiql = "*"
django-filter = "*"
pylint-django = "*"
django-cors-headers = "*"
python-dotenv = "*"
django-heroku = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
